/* Reset de estilos y estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"], form input[type="date"], form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#notificaciones {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#notificaciones h2 {
    margin-bottom: 10px;
}

#lista-notificaciones {
    list-style-type: none;
    padding: 0;
}

#lista-notificaciones li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #feffb5;
    border-left: 5px solid #29240bd6;
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(-20px); /* Mover hacia arriba */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transición de opacidad y transformación */
}

#lista-notificaciones li.notificacion {
    opacity: 1; /* Visible al aplicar la clase notificacion */
    transform: translateY(0); /* Mover a su posición original */
}

#resultados {
    margin-top: 20px;
}

#resultados h2 {
    margin-bottom: 10px;
}

#resultados div {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    form input[type="text"], form input[type="date"], form button[type="submit"] {
        width: calc(100% - 22px);
    }
}
footer {
    margin-top: 20px;
    text-align: center; /* Centrar contenido del footer */
    color: #666; /* Color del texto del footer */
    font-size: 14px;
}