body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Estilos para el logotipo */
.logo {
    display: block;
    max-width: 200px; /* Ajusta el tamaño máximo según tu logotipo */
    margin: 0 auto;
}



/* Estilos para la galería */
#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#galeria img,
#galeria video {
    width: 100%;
    height: auto;
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 20px;
    }

    form {
        max-width: 90%;
    }

    form button {
        padding: 8px 15px;
    }

    footer {
        padding: 10px;
    }
}

/* Estilos para tablets y dispositivos de tamaño medio */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header nav ul li {
        margin-right: 10px;
    }

    section {
        padding: 30px;
    }

    form {
        max-width: 70%;
    }
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 1025px) {
    header nav ul li {
        margin-right: 20px;
    }

    section {
        padding: 50px;
    }

    form {
        max-width: 500px;
    }

    form button {
        padding: 10px 20px;
    }
}
